# Multi Index

In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [46]:
#index level
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
# make a list of tuples pair
# make sure to have correct order
hier_index = list(zip(outside, inside))

hier_index = pd.MultiIndex.from_tuples(hier_index)

In [47]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [51]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
#data
#index
#column

In [49]:
df 
#index hierarchy

             A         B
G1 1  0.624341  0.533590
   2 -0.487033 -0.383310
   3 -0.310793 -1.814592
G2 1  0.196971  0.190933
   2  0.776989 -1.117683
   3 -1.526275  1.063071

## The order is G1 then 1,2,3

In [50]:
df.loc['G1']

          A         B
1  0.624341  0.533590
2 -0.487033 -0.383310
3 -0.310793 -1.814592

In [54]:
df.index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [55]:
df.loc['G1',1]

A   -0.911057
B   -0.618297
Name: (G1, 1), dtype: float64

In [56]:
df.loc['G1'].loc[1]

A   -0.911057
B   -0.618297
Name: 1, dtype: float64

### Name index

In [57]:
df.index.names

FrozenList([None, None])

In [58]:
df.index.names = ['Group', 'Number']

In [60]:
df

                     A         B
Group Number
G1    1      -0.911057 -0.618297
      2       0.796181  0.300953
      3       0.830036 -1.665249
G2    1      -0.334016  0.706196
      2       0.068201 -0.705070
      3       0.087530 -0.267289

In [67]:
df.loc['G2',2]['A']

0.06820097018249402

In [69]:
df['A'].loc['G2',2]

0.06820097018249402

# Cross section of data frame df.xs()  
### grab both G1 G2 but with only 1 number

In [77]:
df.xs('G1') #return cross section of data frame

               A         B
Number
1      -0.911057 -0.618297
2       0.796181  0.300953
3       0.830036 -1.665249

In [78]:
df.loc['G1']

               A         B
Number
1      -0.911057 -0.618297
2       0.796181  0.300953
3       0.830036 -1.665249

In [79]:
df.xs(2, level= 'Number')

              A         B
Group
G1     0.796181  0.300953
G2     0.068201 -0.705070

In [92]:
df.loc['G1',1].loc['G2'] #CAN ONLY USE 1 INDEX

KeyError: 'G2'