In [13]:
def times2(var):return var*2

In [14]:
times2(10)

20

In [15]:
seq = [1,2,3,4]

In [21]:
#map(function, sequence)
map(times2,seq)

In [17]:
#using map to transform
list(map(times2,seq))

[2, 4, 6, 8]

In [18]:
#using lambda expression or anonymous function: 
#remove def and declare lambda
#declare with a vairbale
t = lambda var: var*2

In [19]:
t(10)

20

In [20]:
list(map(lambda num: num *3, seq))

[3, 6, 9, 12]

In [23]:
#filter(functionm seq)
list(filter(lambda num: num%2 == 1, seq))

[1, 3]

In [24]:
s ='hello this is SAM'

In [25]:
#use s. then tab to show all METHOD
s.lower()

'hello this is sam'

In [26]:
s.upper()

'HELLO THIS IS SAM'

In [28]:
s.split()
#split all white space - good for text analysis

['hello', 'this', 'is', 'SAM']

In [33]:
tweet = "go SPort! #Sport"
tweet.split()

['go', 'SPort!', '#Sport']

In [34]:
tweet.split('#')

['go SPort! ', 'Sport']

In [37]:
tweet.split('#')[0]

'go SPort! '

In [39]:
#dictionary with mehtod
d = {'key1': 1, 'k2':2}

In [41]:
#method in key dont retain in order
d.keys()

dict_keys(['key1', 'k2'])

In [47]:
#method in list
lst =[1,2,3,4,5,6,7,8]

In [48]:
lst.pop()

8

In [49]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [51]:
lst.pop(0)

1

In [52]:
lst

[2, 3, 4, 5, 6, 7]

In [55]:
##pop: pop at the last elemnt or at the index
    ##append

In [54]:
1 in [1,2,3]

True

In [60]:
#variable x contian list of tuple
tupleTest = [(1,2),(3,4),(5,6)]

In [61]:
tupleTest[0][1]

2

In [65]:
#tuple unpacking
for a,b in tupleTest:
    print(a)

1
3
5