#  Pandas
- Series

In [2]:
import numpy as np
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [1,2,3]
arr = np.array(my_data)
d = {'a':1,'b':2,'c':3}

In [7]:
pd.Series(data = my_data)

0    1
1    2
2    3
dtype: int64

In [8]:
#index 0 1 2 actual data 1 2 3
pd.Series(data= my_data, index = labels)

a    1
b    2
c    3
dtype: int64

In [9]:
# lable index seires, => have index lable unlink np.array
pd.Series(my_data, labels)
#dont need index

a    1
b    2
c    3
dtype: int64

In [10]:
pd.Series(arr) #can pass np array

0    1
1    2
2    3
dtype: int32

In [11]:
pd.Series(arr,labels)

a    1
b    2
c    3
dtype: int32

In [14]:
#numpy array vs panda Series
#pd.Series can hold variety of object
#this example it is labels
pd.Series(data= labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data= [sum,print,len])
#pd Series holding an array of function => flexible

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
#Pd.Series allow for fast look up based on Hash Table
ser1 = pd.Series([1,2,3,4],['USA','GERMANY','JAPAN','USSR'])
ser1

USA        1
GERMANY    2
JAPAN      3
USSR       4
dtype: int64

In [21]:
ser2 = pd.Series([1,2,5,4], ['USA','GERMANY','ITALY','JAPAN'])
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [23]:
ser1['USA']
#Grab like how we grab dictionary

1

In [25]:
ser3 = pd.Series(data = labels)
ser3

0    a
1    b
2    c
dtype: object

In [26]:
ser3[0]

'a'

# Operation

In [27]:
ser1 + ser2
#adding if same key
#data convert into float
#if the key not exist between 2 ser, value is NaN

GERMANY    4.0
ITALY      NaN
JAPAN      7.0
USA        2.0
USSR       NaN
dtype: float64